{% extends '::front.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/style.css') }}" type="text/css" />
{% endblock %}

{% block contenu %}
    <h1>
        Catégories
    </h1>
    <table class="table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th width="100%">Libellé</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" name="libelle" class="libelle form-control" placeholder="Libellé du catégorie" /></td>
                <td>
                    <button type="button" class="save btn btn-default btn-primary" title="Enregistrer">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
            {% for cat in categories %}
            <tr>
                <td>
                    <input type="hidden" name="id" class="id" value="{{ cat.id }}" />
                    <input type="text" name="libelle" class="libelle form-control" placeholder="Libellé du catégorie" value="{{ cat.libelle }}" />
                </td>
                <td>
                    <button type="button" class="edit btn btn-default" title="Enregistrer">
                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                    </button>
                </td>   
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var url_index_type_action = "{{ path("admin_categorie") }}";
        var url_ajout_type_action = "{{ path("admin_categorie_ajouter") }}";
        var url_modification_type_action = "{{ path("admin_categorie_modifier", {'idCategorie': 'idCategorie'}) }}";
    </script>
    <script src="{{ asset('bundles/admin/js/garage.js') }}" type="text/javascript"></script>
{% endblock %}